<!-- Sidebar -->
<div class="sidebar">
    <div class="sidebar-title">Online Services</div>
    <ul class="sidebar-menu">
        <li><a href="#" data-sidebar="home">HOME</a></li>
        <li><a href="#" data-sidebar="colabfold">COLABFOLD</a></li>
        <li><a href="#" data-sidebar="proteinmpnn">PROTEINMPNN</a></li>
        <li><a href="#" data-sidebar="foldseek">FOLDSEEK</a></li>
        <li><a href="#" data-sidebar="colabdock">COLABDOCK<br>(Under Development)</a></li>
    </ul>
</div>